In [1]:
import numpy as np
import pandas as pd

In [2]:
dict1 = {
    "Name": ['Vishesh', 'Naman', 'Cherry', 'Shubh'],
    "Marks": [92, 34, 24, 17],
    "City" : ['Udaipur', 'Chandigarh', 'Delhi', 'Kota']
}

In [3]:
df = pd.DataFrame(dict1)

In [4]:
df

      Name  Marks        City
0  Vishesh     92     Udaipur
1    Naman     34  Chandigarh
2   Cherry     24       Delhi
3    Shubh     17        Kota

In [5]:
df.to_csv('friends_index_false.csv', index = False)

In [6]:
df.head(2)

      Name  Marks        City
0  Vishesh     92     Udaipur
1    Naman     34  Chandigarh

In [7]:
df.tail(2)

     Name  Marks   City
2  Cherry     24  Delhi
3   Shubh     17   Kota

In [8]:
df.describe()

          Marks
count   4.00000
mean   41.75000
std    34.21866
min    17.00000
25%    22.25000
50%    29.00000
75%    48.50000
max    92.00000

In [9]:
vishesh = pd.read_csv('vishesh.csv')

UnicodeDecodeError: 'utf-8' codec can't decode bytes in position 15-16: invalid continuation byte

In [13]:
vishesh = pd.read_csv('vishesh.csv')

In [14]:
vishesh

     Train   Number        City
0   Vishesh      92     Udaipur
1   Naman\t      34  Chandigarh
2  Cherry\t      24       Delhi
3   Shubh\t      17        Kota

In [15]:
vishesh['Number']

0    92
1    34
2    24
3    17
Name: Number, dtype: int64

In [16]:
vishesh['Number'][0] = 100

C:\Users\VP200\AppData\Local\Temp\ipykernel_23176\2177629255.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  vishesh['Number'][0] = 100

In [17]:
vishesh

     Train   Number        City
0   Vishesh     100     Udaipur
1   Naman\t      34  Chandigarh
2  Cherry\t      24       Delhi
3   Shubh\t      17        Kota

In [18]:
vishesh.to_csv('vishesh.csv', index = False)